@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    @keyframes pushUp {
      from {
        opacity: 0;
        transform: translateY(20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
    }
  
    .animate-push-up {
      animation: pushUp 0.5s ease-out forwards;
    }

    .animate-fade-in {
        animation: fadeIn 2s ease-in-out forwards;
    }

    .opacity-0 {
        opacity: 0; 
    }
  }

@layer components {

    .text-xxs {
        @apply text-[10px];
    }

    .tag-small {
        @apply rounded-full px-2 py-1.5 bg-lighter-brown;
    }

    .button-transition {
        @apply transition-colors ease-in-out duration-300;
    }
}